.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  z-index: 100;
}

.headerItem {
  margin: 0 8px;
}

.title {
  margin-bottom: 4px;
}

.headerTable {
  table-layout: fixed;
  width: 420px;
  border-collapse: collapse;
}

.headerTable td {
  width: 25%;
  border: 1px solid #d0d0d0;
}

.virtualScreenWrapper {
  width: 100%;
  overflow: auto;
  background-color: #d0d0d0;
}

.virtualScreen {
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
}

.cardTitle {
  font-size: 24px;
  margin-bottom: 8px;
}

.cardText {
  margin-top: 8px;
}

.cardTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.cardTable td {
  width: 25%;
  border: 1px solid #d0d0d0;
}


