.sizeControl {

}

.row {
  display: flex;
}

.slider {
  height: 20px;
  width: 200px;

  background: linear-gradient(180deg,
    transparent calc(50% - 2px),
    #f0f0f0 calc(50%),
    transparent calc(50% + 2px)
  );
}

.sliderHandle {
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

.input {
  margin-left: 8px;
  width: 40px;
  text-align: right;
  border: 0;
  background-color: transparent;
}
